html, body, h1, h2, h3, h4, h5, j6 {
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

a:link {
    color: black;
    text-decoration:none;
}

a:visited {
    color: gray;
}

.functionhead {
    float: left;
    width: 33%;
    border: 1px solid white;
    display: block;
    padding: 10px 15px 9px 15px;
    vertical-align: 50%;
    overflow: hidden;
    background-color: aquamarine;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    }

#contenedorfecha, #ContenedorClick, #contenedorPosicion{
    margin: 0px;
}

.icono {
    float: left;
    width: 14.28%;
    border: 1px solid white;
    display: block;
    padding: 10px 15px 9px 15px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: darkgreen;
    text-align: center;
    cursor: pointer;
}

img {
    max-width: 300px;
    max-height: 100%;
    object-position: center;
    object-fit: cover;

}
.left {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 25%; 
    height: 300px;
    text-align: center;
}

.main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 50%;
    height: 300px;
    text-align: center;
}

.right {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 25%;
    height: 300px;
    border-right: 3px solid white;
    border-left: 3px solid white;
    text-align: center; 
}
.left1 {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 50%;
    height: 300px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}

.right1 {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 50%;
    height: 300px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}
.complete {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 100%;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}

    /* Use a media query to add a break point at 800px: */
    @media screen and (max-width: 800px) {
        .left, .main, .right, .left1, .right1, .icono, .functionhead {
            width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
           
        }
}
@media screen and (max-width: 800px) {
    .left1, .main, .right, .main, .right1 {
      
        height: auto
    }
}


  
.tituloSeccion {
        color: green;
}

.contenidoNegrita {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        font-weight: bold
}

.contenidoNegrita .contenidoFlotante {
        visibility: hidden;
        width: 200px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip - takes 2 second to go from 0% to 100% opac: */
        opacity: 0;
        transition: opacity 2s;
}

.contenidoNegrita:hover .contenidoFlotante {
        visibility: visible;
        opacity: 1;
}

hr {
    border: 0;
    border-top: 1px solid gray;
    margin: 20px 0;
}
